* {

    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
    color: aliceblue;
}
#header {
    background-image: url("./images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 520px;
}
